// 
// nav.scss
//

.nav-tabs,.nav-pills {
    > li {
        > a {
            font-weight: $font-weight-medium;
            color: $gray-700;
        }
    }
}

.nav-pills {
    > a {
        font-weight: $font-weight-medium;
        color: $gray-700;   
    }
}

.tab-content {
    padding: 20px;
    border: 2px solid $gray-200;
    border-top: none;
}  
