// 
// gallery.scss
//

.portfolioFilter {
    a {
        display: inline-block;
        padding: 5px 10px;
        font-weight: $font-weight-medium;
        color: $dark;
        border-radius: 3px;
        transition: all 0.3s ease-out;
        &:hover {
            color: $primary;
        }
    }
    a.current {
        color: $primary;
    }
}


.thumb {
    padding: 10px;
    margin-top: 24px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: $shadow-sm;
}
  
.thumb-img {
    overflow: hidden;
    border-radius: 2px;
}
  
.gal-detail {
    h4 {
      margin-top: 16px;
      font-size: 16px;
    }
}

